.container{
	width: 80%;
	height: auto;
}
header{

	padding-top: 20px;
	min-height: 100px;

}
.containerHeader{
	width: 80%;
}
.container2{

	width: 80%;
	height: auto;
}	

header #brand h1{
	margin-left: 0px;
	padding: 10px;
}

 li{

	padding: 0 15px 0 15px;
}


.dropdown-content{
	margin-left: -100px;
	margin-right: 0px;
	min-width: 200px;
	float: right;
}
.dropdown-content a{
	padding: 12px 16px;
	text-transform: capitalize;

}
#transEntrylegend{
	width: 100%;
	float: center;
	border:0;
}
#transEntrylegend p{
	padding-left: 40px;
}
#transOutpulegend{
	width: 100%;
	float: center;
	border-radius: 0;
	border: 0px;
}
#legendfilter{
	float: center;
}
	
#legendsearch{
	float: center;	
}
#formview{
	height: 100%;
	height: auto;
}
#legendview{
	float: center;
	padding: 10px;
	height: auto;
	
}
#filter,#viewReco,#search{
	width: 100%;

}
fieldset{
	text-transform: capitalize;
	width: 90%;
	min-height: 50px;
	padding: 10px;
	margin: 10px;
	border-radius: 10px;
}

form{

	width: 70%;
	border-radius: 10px;
	box-shadow: 5px 0px 100px 0px  green;
	margin-left: 100px;


	
}
#formview{
	min-height: 400px;
	overflow: hidden;
	width: 100%;
	margin-left: 0px;
}

.homeP{
	
	text-align: left;
    margin: 10px;
	margin-top: 70px;
	margin-bottom: 4px;
}
.homeh2{
	margin: 10px;
}



